.dialog__actions {
  background: #fff;
  box-shadow: 0 -12px 36px rgba(0, 0, 0, 0.04);
  padding: 1rem 1.9rem;
  position: absolute;
  bottom: 0;
  left: 0;

  .dialog__actions__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dialog__actions__container__right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.dialog__header {
  .dialog__header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.portal {
  overflow: hidden;
}
